@import "~antd/dist/antd.css";
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.ant-col-5 {
  //max-width: 18%;
}

.ant-col-19 {
  //max-width: 82%;
  //background-color: rgb(255, 255, 255);
  .container {
    margin: 0 1.5rem;
  }
}

.ant-btn {
  border: none;
  &:hover {
    border-color: hsla(0, 0%, 78%, 0.2);
    background-color: hsla(0, 0%, 78%, 0.2);
    color: unset;
  }
  &:focus {
    border-color: hsla(0, 0%, 78%, 0.2);
    background-color: hsla(0, 0%, 78%, 0.2);
    color: unset;
  }
}
